<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.workflowconversion.knime2guse.workflowExportEditorContribution"
            targetID="org.knime.workbench.editor.WorkflowEditor">
         <action
               class="com.workflowconversion.knime2guse.export.ui.action.WorkflowExportActionDelegate"
               icon="icons/export.png"
               id="com.workflowconversion.knime2guse.action1"
               label="Export Workflow"
               menubarPath="file/ExportWorkflow"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="Export Workflow">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.knime.product.splashExtension">
      <splashExtension
            icon="icons/icon.png"
            icon24="icons/icon24.png"
            icon32="icons/icon32.png"
            id="com.workflowconversion.knime2guse.splashExtension">
      </splashExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="com.workflowconversion.knime2guse.preference.PreferencePage"
            id="com.workflowconversion.knime2guse.preference.PreferencePage"
            name="KNIME2gUSE">
      </page>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="com.workflowconversion.knime2guse.preference.PreferenceInitializer">
      </initializer>
   </extension>


</plugin>
